{% load static %}
{% include 'others/base.html' %}
{% include 'others/adminsidebar.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div  class="card" style="margin-top: 50px; margin-left: 300px; margin-right: 20px; height: 45px;">
    <h3 style="text-align: center; color: black;">Register New Cars</h3>
    <form style=" height: 600px; padding-top: 60px; padding-left: 50px; background-color: gainsboro;" method="post">
        {% csrf_token %}	
        <div class="form-row" >
            <div class="col-md-6 mb-0">
                {{ form.type|as_crispy_field }}
            </div>
            <div class="col-md-6 mb-0">
                {{ form.date|as_crispy_field }}
            </div>
            <div class="col-md-12 mb-0">
                {{ form.number_Plate|as_crispy_field }}
            </div>
            <div class="col-md-12 mb-0">
                {{ form.cost|as_crispy_field }}
            </div>
            <input class="btn btn-primary" type="submit" href ="{% url 'home' %}" value="Register">
        </div>
    </form>      
</div>
{% endblock %}