{% load static %}
{% include 'others/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div  class="tab-content" style="padding-top: 0px; height: 100px; width: 100%; background: gray;">
    <h3 style="text-align: center;  padding-top: 40px; color: white;">Register New Cars</h3>
    <form style=" padding-top: 60px; width: 50%; padding-left: 50px;" method="post">
        {% csrf_token %}	
        <div class="row justify-content-center" >
            <div class="col-lg-12 col-sm-10">
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" href ="{% url 'home' %}" value="Register">
            </div>
        </div>
    </form>      
</div>
{% endblock %}