{% load static %}
{% include 'others/base.html' %}

{% block content %}

<div class="col-md-10 mt-8">
    <div class="card" style="margin-top: 40px; margin-left: 100px;">
        <div class="card-header bg-info text-white">
            Dashboard Statistics
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <a class="text-decoration-none text-dark" href="{% url 'cars' %}">
                        <div class="card my-card shadow">
                            <div class="card-body text-center">
                                <h4>Cars <i class="fas fa-shipping-fast"></i></h4>
                                <h3>{{ cars_count }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="text-decoration-none text-dark" href="{% url 'ownerspay' %}">
                        <div class="card my-card shadow">
                            <div class="card-body text-center">
                                <h4>Payments <i class="fas fa-box"></i></h4>
                                <h3>{{ product_count }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="text-decoration-none text-dark" href="{% url 'staff' %}">
                        <div class="card my-card shadow">
                            <div class="card-body text-center">
                                <h4>Staff <i class="fas fa-users"></i></h4>
                                <h3>{{ customer_count }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="staff" style="margin-left: 200px; margin-top: 30px;" >
    {% if user.is_authenticated and user.is_admin %}
    <a type="button" class="btn btn-primary" href="{% url 'car_reg' %}"> Register </a>
    <a type="button" class="btn btn-success" href="{% url 'carview' %}"> View </a>
    {% endif %}
</div>
{% endblock %}