{% load static %}
{% include 'others/base.html' %}
{% block content %}
{% if user.is_admin and user.is_superuser%}
<div class="row" >
    <div class="col-md-6 mt-4">
        <div class="card" style="margin-top: 40px;">
            <div class="card-header text-white" style="background-color: yellow; text-align: center;">
                Complete Payments
            </div>
            <div class="card-body" style="background-color: yellow;">
                <div class="row">
                    <div class="paying" style="margin-left: 40px; width: 70%;">
                        <a class="text-decoration-none text-dark" href="{% url 'complete-payments' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <i class="fas fa-usd"><br>Complete Payments</i>
                                    <h3></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="card" style="margin-top: 40px;">
            <div class="card-header text-white" style="background-color: red; text-align: center;">
                Pending Payments
            </div>
            <div class="card-body" style="background-color: red;">
                <div class="row">
                    <div class="paying" style="margin-left: 40px; width: 70%;">
                        <a class="text-decoration-none text-dark" href="#">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <i class="fas fa-usd"><br>Pending Payments</i>
                                    <h3></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endif %}
{% endblock %}