{% load static %}
{% include 'others/base.html' %}
{% include 'others/driversidebar.html' %}
{% block content %}

<!--<div class="form" style="background-image: url('/static/images/dr.jpeg'); background-repeat: no-repeat; background-size: cover; opacity: 0.9; width: 65%; margin-left: 20%;">
    <form method="post">
        {% csrf_token %}
        <div class="card" style="width: 50%; margin-left: 20%; margin-top: 40px;">
            <div class="card-body">
              <div class="form-group">
                <label style="margin-top: 30px; font-weight: bold;" for="ProductName">Phone number</label>
                <input type="text" class="form-control" id="ProductName" style="width: 70%;" name="phone" placeholder="enter phone number for Payment" required>
              </div>
              <div class="form-group">
                <label style="margin-top: 10px; font-weight: bold;" for="ProductName">Amount</label>
                <input type="text" class="form-control" id="ProductName" style="width: 70%;" name="amount" placeholder="enter amount of payment" required>
              </div>
              <input style="margin-top: 50px;" class="btn btn-danger" type="button" value="Airtel">
              <input style="margin-top: 50px; color: white;" class="btn btn-warning" type="button" value="MTN">
            </div>
        </div>
    </form>
</div>-->
<div id="paypal-button-container" style="margin-left: 300px; margin-top: 100px;"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AcaoZDuplkKOOrDmHP_XbfHVF50IQZVUB5z_e7BsoSeOvxesMYV2a9-SJK6_B-A8MVbX8EbquDNSowPU&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '88.44'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock %}