{% if user.is_admin %}
{% for message in messages %}
  <div style="width: 30%; margin-top: 20px; margin-left: 200px;" class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}
<div class="row" >
    <div class="col-md-4 mt-4">
        <div class="card" style="margin-top: 40px;">
            <div class="card-header bg-info text-white">
                Information
            </div>
            {% for instance in queryset %}
            <div class="card-body">
                <marquee behavior="" direction="">
                    <h3 class="my-4">{{ instance.information }}</h3>
                </marquee>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <div class="card" style="margin-top: 40px;">
            <div class="card-header bg-info text-white">
                Dashboard Statistics
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'staff' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Staff <i class="fas fa-users"></i></h4>
                                    <h3>{{ Accounts_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'ownerspay' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Payments <i class="fas fa-box"></i></h4>
                                    <h3>{{ product_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'cars' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Cars <i class="fas fa-shipping-fast"></i></h4>
                                    <h3>{{ cars_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% include 'others/driverdash.html' %}
{% endif %}